/* You can add global styles to this file, and also import other style files */

.override_ladda{
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    padding: .375rem .75rem !important;
    border-radius: 5px !important;
}
